* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0%;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  box-sizing: border-box;
  max-width: 100%;
}

#warning-message {
  display: none;
  margin: 20%;
  font-size: 8vh;
  color: white;
}

@media only screen and (orientation: portrait) {
  #wrapper {
    display: none;
    margin: 0;
    padding: 0;
  }

  #warning-message {
    display: block;
  }
}

@media only screen and (orientation: landscape) {
  #warning-message {
    display: none;
  }
}

.slant {
  -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-60deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px)
    skew(-60deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-60deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-60deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-30deg, -4deg);
}

.slant1 {
  -moz-transform: scale(1) rotate(0deg) translate(0px, 10px) skew(-60deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px)
    skew(-60deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-60deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-60deg, 0deg);
  transform: scale(2) rotate(10deg) translate(10px, 0px) skew(-10deg, -4deg);
}

a {
  position: fixed;
  text-transform: uppercase;
  text-decoration: none;
  width: 14.5%;
  height: 5vh;
  left: 0;
  top: 0;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  z-index: 999;
}

a span {
  position: fixed;
  left: 5%;
  z-index: 1;
  color: white;
  font-size: 3vh;
  z-index: 999;
}

.imgg {
  width: 15%;
  height: 20%;
  position: fixed;
  left: 0px;
  z-index: 999;
}

.GR {
  position: fixed;
  left: 5%;
  top: 85%;
  width: 5%;
  height: 5%;
  background-color: azure;
  text-align: center;
  border-radius: 50%;
  z-index: 9999;
}
.buton {
  width: 5%;
  height: 10%;
  position: fixed;
  left: 5%;
  top: 86%;
  z-index: 999;
}

.close {
  position: fixed;
  left: 5%;
  width: 5%;
  height: 5%;
  top: 92%;
  text-align: center;
  z-index: 999;
}

.middle1 {
  vertical-align: middle;
  padding: 0px;
  margin-top: 13%;
}
.desen {
  color: #000;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.5s;
  height: 8vh;
  width: 16vw;
}

.desen:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("imagini-butoane/desen2.png");
  background-size: cover;
  border-radius: 10%;
}

.containershow {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: hidden;
}

.containershow div.blank {
  position: relative;
  width: 100%;
  height: 100%;
}

.titlu {
  position: absolute;
  top: 5vh;
  left: 45vw;
}

.minunat {
  position: absolute;
  margin-left: 15vw;
  margin-top: 80vh;
}
.minunat1 {
  position: absolute;
  margin-left: 35vw;
  margin-top: 80vh;
}

.card {
  position: absolute;
  width: 20vw;
  height: 50vh;
  background: #262626;
  margin-left: 18vw;
  top: 20vh;
  overflow: hidden;
}
input,
.toggle {
  position: absolute;
  width: 4vh;
  height: 4vh;
  bottom: 2vh;
  right: 2vh;
  outline: none;
  z-index: 10;
}
input {
  opacity: 0;
}
.toggle {
  pointer-events: none;
  border-radius: 50%;
  background: white;
  transition: 0.5s;
  text-align: center;
  font-size: 4vh;
  box-shadow: 0 0 0 0px #9c27b0;
}
input:checked ~ .toggle {
  box-shadow: 0 0 0 53vh #9c27b0;
  transform: rotate(225deg);
}
.imgBX,
.content {
  position: absolute;
  top: 0;
  left: 0;
  widows: 100%;
  height: 100%;
}
.content {
  padding: 20px;
  box-sizing: border-box;
  z-index: 11;
  pointer-events: none;
  transition: 0.5s;
  opacity: 0;
}
input:checked ~ .content {
  opacity: 1;
  transition-delay: 0.5s;
}
.fix {
  width: 100%;
  height: 100%;
}
.dimensiune {
  width: 3vw;
  height: 4vh;
}
.aranjs {
  position: absolute;
  left: 85vw;
  top: 3vh;
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  margin-left: 10vw;
  height: 75vh;
  transform-style: preserve-3d;
  perspective: 110vw;
  transition: 0.5s;
  transform: translate(-50%, -50%) rotateY(-30deg) skewY(5deg);
}
.box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-top: 3vh solid white;
  border-left: 3vh solid white;
  box-sizing: border-box;
}
.box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-bottom: 3vh solid white;
  border-right: 3vh solid white;
  box-sizing: border-box;
}

.box .comp {
  position: absolute;
  top: 3vh;
  left: -3vh;
  background: #262626;
  width: calc(100% + 60px);
  height: calc(100% - 60px);
  transition: 0.5s;
  transform: rotateY(30deg) skewY(-10deg);
}
.comp div p {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  padding: 0 8%;
  text-indent: 3%;
  color: white;
  z-index: 3;
}
.comp div h1 {
  color: white;
  margin-top: 5%;
  margin-left: 35%;
}
.fa {
  width: 8vh;
  height: 8vh;
  background: white;
  color: #262626;
  text-align: center;
  line-height: 8vh !important;
  font-size: 4vh !important;
}
.fa.fa1 {
  position: absolute;
  top: 0;
  left: 0;
}
.fa.fa2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
